*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: #E3B23C;
}
.container{
    display: grid;
    place-items: center;
    padding-top: 15%;
   
}
#contact{
    background-color: #D64933;
    height: 300px;
    width: 400px;
   position: relative;
   padding: 50px;
   place-items: center;
    
}
.titles{
    padding-bottom: 50px;
    font-size: larger;
    
}
form{
   margin-bottom: 40px;
}
