*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: #E3B23C;
}
.container{
    display: grid;
    place-items: center;
    padding-top: 15%;   
   
}
#contact{
    background-color: #D64933;
    height: 300px;
    width: 400px;
   position: relative;
   padding: 50px;
   place-items: center;
   border-radius: 30px;
}  
.labels,#box{
    margin-top: 30px;
}
#box{
    margin-left: 25px;
    border-radius: 6px;
    border: none;
    height: 25px;
}
.labels{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}
#cnc{
    margin-left: 140px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    color: rgba(0, 0, 0, 0.74); 
}
#button{
    margin-top: 30px;
    height: 30px;
    width:60px;
    background-color: #ecab14;
    border: none;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    border-radius: 5px;
}
#button:hover{
    background-color: rgba(20, 19, 20, 0.877);
    color: rgb(235, 206, 206);
    cursor: pointer;

}